.container {
    width: 100%;
    height: calc(100vh - 60px);
    background: #fff;
    display: flex;
}

.slide {
    width: 180px;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    border-right: 1px solid #F0F5FC;
    background: #FCFCFD;

    .title {
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .menu {
        width: 100%;
    }

    .menuItem {
        width: 100%;
        padding: 4px 8px;
        box-sizing: border-box;
        border-radius: 6px;
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-bottom: 11px;
    }

    .active {
        background: #F0F5FC;
        color: #0E5DD8;
    }

    .icon {
        width: 16px;
        font-size: 16px;
        margin-right: 8px;
    }
}

.content {
    flex: 1;
    height: 100%;
    overflow-y: auto;
}