.adjustCreate {
  width: 100%;
  min-height: 100vh;
  background: #FFFFFF;
  box-shadow: 0px -2px 20px 0px rgba(7, 17, 39, 0.08);
  border-radius: 20px 20px 0px 0px;
  overflow: visible;
  padding-bottom: 40px;

  .adjustCreateContent {
    width: 87.5vw;
    margin: 0 auto;
    padding: 20px;
  }

  .createWrap {
    width: 87.5vw;
    margin: 0 auto;

    .breadcrumb {
      margin-top: 8px;
      margin-bottom: 15px;
    }
  }
}
